<div class="card">
  <div class="card-body">
    <form>
      <div class="mb-3">
        <h3 class="form-label">Input Max Number</h3>
        <input type="number" class="form-control" id="maxNumber" aria-describedby="Input Max Number" placeholder="Ex: 100">
      </div>

      <h3 class="form-label">Enter the Multiple & Swap Words</h3>
      <div class="mb-3 row">
        <div class="col">
        <input type="number" class="form-control" aria-describedby="Enter Multiple" placeholder="Multiple">
      </div>
      <div class="col p-0">
        <input type="text" class="form-control" aria-describedby="Enter Swap Word" placeholder="Swap Word">
     </div>

     <div class="col">
      <button type="button" class="btn btn-primary" (click)="Add()">Add</button>
      </div>
    </div>
    </form>
  </div>
</div>